

/* Start:/local/templates/voguish_index/components/bitrix/search.page/search_page/style.css?1594135497163*/
a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}
/* End */
/* /local/templates/voguish_index/components/bitrix/search.page/search_page/style.css?1594135497163 */
