

/* Start:/local/templates/voguish_single/components/bitrix/main.feedback/contact_form/style.css?159472063895*/

span.mf-req {color:red;}
div.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}

/* End */
/* /local/templates/voguish_single/components/bitrix/main.feedback/contact_form/style.css?159472063895 */
